{% load url from future %}
{% load i18n %}

<article>
  <div class="content">
    <div class="datatitle">
      {{dataconnection.title}}
    </div>
    <div class="dataabstract">
      {{ dataconnection.abstract|slice:":255"}}
    </div>
    <div class="dataactions">
      <a href="#" class="button">
        Details
      </a>
      <a href="#" class="button">
        View Data
      </a>
      <a href="#" class="button button-warn">
        Refresh
      </a>
      <a href="#" class="button button-warn">
        Remove
      </a>
    </div>
  </div> <!-- /.content -->
</article>