{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Confirm Delete" %} - {{ block.super }} {% endblock %}

{% block body_class %}datamanager{% endblock %}

{% block body_outer %}
    <div class="span12">
      <h2 class="page-title">{{dataconnection.title}}</h2>
      <div>
        Are you sure you would like to delete {{dataconnection.title}}?
        <form action="" method="get">
         <input name="confirm" type="submit" value="Confirm" />
         <input name="cancel" type="submit" value="Cancel" />
        </form>
      </div>
    </div>

{% endblock %}

{% block extra_script %}



{% endblock extra_script %}

{% block extra_head %}
{% endblock %}
