{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %}Data Connection Details{% endblock %}

{% block body_class %}datamanager{% endblock %}

{% block body_outer %}  


<div class="datacon_content">
  {% include "datamanager/_dataconnection_list_item.html" %}
  {% include "datamanager/_dataconnection_contentheader.html" %}
</div>

<div class="extracontent">
    <h3>
        <a href="{{layerurl}}">Geonode Layer URL</a>
    </h3>

    <div>
        Last Time Data was refreshed: {{ dataconnection.lastedit_date|date:"d b Y H:i a" }}
    </div>
    <div>
        Refresh Frequency: {{dataconnection.update_freq}}
    </div>
    <div>
    {{ dataconnection.description }}
    </div>

</div>

{% endblock %}
{% block extra_script %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% endblock %}
